# IntelliJ Idea - don't include user-specific files.
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# VSCode stuff
.vscode/

# Python
__pycache__/
.ipynb_checkpoints/

# Data
data/
